.sr-banner

  &__background
    background-color: $light-blue
    width: 100%
    height: em(120)
    position: relative

    .sr-logo
      position: absolute
      left: calc(50% - 50px)
      bottom: em(-50)

  &__info
    border-bottom: em(1) solid $light-gray
    padding: em(60) 0 em(20) 0
    text-align: center

    h1
      margin: em(20) 0 0 0

    p
      margin: em(10) 0 0 0
