.sr-breadcrumb
  border-bottom: 1px solid $light-gray

  &__container
    width: 680px
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto
    padding: 10px 0
