.sr-button
  height: 35px
  padding: 0 20px
  font-size: 12px
  text-transform: uppercase
  color: $white
  border: none
  background: $gray
  border-radius: $border-radius
  outline: none

  &--large
    height: 45px
    padding: 0 30px
    font-size: 16px

  &--primary
    background-color: $green

    &-ghost
      background-color: transparent
      color: $green
      box-shadow: inset 0 0 0 2px $green

  &--just-text
    background: none
    color: $gray
    text-transform: none
    font-size: 14px

  &--with-icon

    .sr-button__icon
      display: inline-block
      width: 18px
      height: 18px
      font-size: 18px
      line-height: inherit
      vertical-align: top
