// Buttons
.sr-button
  height: 35px
  padding: 0 20px
  font-size: 12px
  text-transform: uppercase
  color: $white
  border: none
  background: $gray
  border-radius: $border-radius
  outline: none
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.23)
  display: inline-block
  line-height: 35px
  transition: all .3s

  &[type="submit"]
    display: inline-block

  &--large
    height: 45px
    padding: 0 30px
    font-size: 16px
    line-height: 45px

  &--primary
    background-color: $blue
    &:hover
      background-color: darken($blue, 10%)
      color: $white

    &-ghost
      background-color: transparent
      color: $blue
      box-shadow: none
      box-shadow: inset 0 0 0 2px $blue

  &--just-text
    background: none
    color: $gray
    text-transform: none
    font-size: 14px
    padding: 0
    box-shadow: none

    &:hover
      color: $blue

  &--with-icon

    .sr-button__icon
      display: inline-block
      width: 18px
      height: 18px
      line-height: inherit
      vertical-align: top

  &--block
    width: 100%
