@mixin wrapper
  max-width: $max-width
  display: flex
  align-items: center
  margin: 0 auto
  height: inherit
  justify-content: space-between
  padding: 0 20px

.sr-search
  border-bottom: 1px solid $light-gray
