.sr-wrapper
  max-width: $max-width
  margin: 0 auto
  padding: 0 20px

  &--medium
    max-width: 700px

  &--small
    max-width: 300px
    margin: 0
    padding: 0

@media only screen and (max-width: 600px)
  .sr-wrapper
    &--small
      max-width: 100%
