.sr-nav
  background-color: $blue
  height: 75px

  &__container
    @include wrapper
    display: flex
    align-items: center
    height: inherit
    justify-content: space-between

  &__item
    color: $white
    padding-left: 30px

  // Logo
  .sr-logo
    width: 40px
    height: 40px
