.sr-pagination
  display: flex
  align-items: center
  width: 100%
  border: 1px solid $light-gray
  justify-content: space-between
  height: em(60)
  margin-bottom: em(40)

  &__pager
    padding: 0 em(20)

  &__button
    background: none
    border: none
    height: inherit
    padding: 0 em(20)
    display: flex
    align-items: center
    color: $gray
    transition: all .3s
    outline: none
    &:hover
      color: $blue
      background: $light-gray

    &--prev
      border-right: em(1) solid $light-gray

    &--next
      border-left: em(1) solid $light-gray
