.sr-panel
  display: flex
  border: em(1) solid $light-gray
  justify-content: space-between
  padding: em(25) em(20)
  text-decoration: none

  &:not(:last-of-type)
    border-bottom: none

  &__title
    font-size: em(16)

  &__meta
    color: lighten($gray, 30%)

a.sr-panel
  &:hover
    background-color: $light-gray
