.sr-job-detail

  &__search
    border-bottom: 1px solid $light-gray
    padding: 20px 0

  &__container
    max-width: 680px
    margin: 0 auto

  &__job-title
    font-size: 40px
    line-height: 55px
    color: $dark-gray

  &__category, &__location
    font-size: 15px

  &__location
    color: lighten($gray, 30%)

  &__description
    padding: 40px 0

  &__cta
    padding-bottom: 40px

    .sr-job-detail__container
      text-align: center

    .sr-button
      width: 280px
