<header class="sr-nav">
  <div class="sr-nav__container">
    <div class="sr-logo">
      <img class="sr-logo__image" src="images/logo.png"/>
    </div>
    <nav>
      <a class="sr-nav__item" href="">Jobs</a>
      <a class="sr-nav__item" href="">Team</a>
      <a class="sr-nav__item"href="">Culture</a>
    </nav>
  </div>
</header>
