<section class="sr-pagination">
  <button class="sr-pagination__button sr-pagination__button--prev"><i class="material-icons">chevron_left</i> Prev</button>
  <div class="sr-pagination__pager">
    Page <span>1</span> of <span>10</span>
  </div>
  <button class="sr-pagination__button sr-pagination__button--next">Next <i class="material-icons">chevron_right</i></button>
</section>
