---
title: Silkroad - Apply
---

<%= partial "nav" %>

<section class="sr-breadcrumb">
  <div class="sr-breadcrumb__container">
    <a href="/job-detail.html" class="sr-button sr-button--with-icon sr-button--just-text">
      <i class="material-icons sr-button__icon">chevron_left</i>
      Senior Product Designer
    </a>
  </div>
</section>

<section class="sr-job-detail__description">
  <div class="sr-job-detail__container">
    <div class="sr-job-detail__category">Design</div>
    <div class="sr-job-detail__job-title">Senior Product Designer</div>
    <div class="sr-job-detail__location">Jacksonville, FL</div>
    <form class="sr-form">
      <div class="sr-form__field">
        <label class="sr-form__label">* First Name</label>
        <input class="sr-form__input" type="text" />
        <div class="sr-form__helper">
          Please type your first name
        </div>
      </div>
      <div class="sr-form__field">
        <label class="sr-form__label">* Last Name</label>
        <input class="sr-form__input" type="text" />
        <div class="sr-form__helper">
          Please type your last name
        </div>
      </div>
      <div class="sr-form__field">
        <label class="sr-form__label">* Email Address</label>
        <input class="sr-form__input" type="email" />
        <div class="sr-form__helper">
          Please type your email addresss
        </div>
      </div>
      <div class="sr-form__field">
        <label class="sr-form__label">Phone</label>
        <input class="sr-form__input" type="phone" />
        <div class="sr-form__helper">
          Phone number invalid
        </div>
      </div>
      <div class="sr-form__field">
        <label class="sr-form__label">* Resume</label>
        <a href=""/>Attach</a>
        <a href=""/>Dropbox</a>
        <div class="sr-form__helper">
          There was a problem with your upload
        </div>
      </div>
      <h3>U.S. Equal Employment Opportunity Information</h3>
      <p>Nulla eleifend elit eget viverra fermentum. Donec sed purus mauris. Fusce laoreet tellus at hendrerit aliquam. Phasellus maximus dui efficitur, egestas augue sit amet, sodales risus. Pellentesque ullamcorper eu quam a molestie. Maecenas rhoncus congue purus vitae sollicitudin. Duis suscipit faucibus leo, ac semper tellus aliquam sit amet. In quis iaculis ligula. Vestibulum pulvinar eros non leo bibendum, ac tincidunt lorem varius.</p>
      <p>Vestibulum accumsan tortor a dui fermentum volutpat. Maecenas vel sagittis sem. Nunc viverra erat dolor, a euismod dui ultrices at. Proin mi ligula, efficitur tempus volutpat non, hendrerit sit amet orci. Nam sed ante vestibulum eros vehicula placerat ac id est. Maecenas eleifend ligula nibh, et luctus magna mattis ac. Integer suscipit vehicula lorem nec tincidunt. Nullam vitae bibendum risus. Proin hendrerit laoreet fermentum. Pellentesque convallis pharetra consectetur.</p>
      <div class="sr-form__field">
        <label class="sr-form__label">Gender</label>
        <select>
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
        </select>
      </div>
      <div class="sr-form__field">
        <label class="sr-form__label">Race</label>
        <select>
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
        </select>
      </div>
      <div class="sr-form__field">
        <label class="sr-form__label">* Are you authorized to work in the United States?</label>
        <input name="radio" type="radio" /> Yes
        <input name="radio" type="radio" /> No
        <div class="sr-form__helper">
          Please select one
        </div>
      </div>
      <div class="sr-form__field">
        <label class="sr-form__label">Signup for open resume submission?</label>
        <input name="radio" type="radio" /> Yes
        <input name="radio" type="radio" /> No
        <div class="sr-form__helper">
          Please select one
        </div>
      </div>
      <div class="align--center">
        <input class="sr-button sr-button--primary" type="submit" value="Next" />
        <br /><br/>
        <a href="">Privacy Policy</a>
      </div>
    </form>
  </div>
</section>
