---
title: Silkroad - Job Detail
---

<%= partial "nav" %>

<section class="sr-job-detail__search">
  <div class="sr-job-detail__container">
    <div class="sr-form__field sr-form__field--with-icon">
      <input class="sr-form__input" type="text" placeholder="Search" />
      <i class="material-icons">search</i>
    </div>
  </div>
</section>

<section class="sr-breadcrumb">
  <div class="sr-breadcrumb__container">
    <a href="/" class="sr-button sr-button--with-icon sr-button--just-text">
      <i class="material-icons sr-button__icon">chevron_left</i>
      Accenture Jobs
    </a>
    <a href="/apply.html" class="sr-button sr-button--primary">Apply</a>
  </div>
</section>

<section class="sr-job-detail__description">
  <div class="sr-job-detail__container">
    <div class="sr-job-detail__category">Design</div>
    <div class="sr-job-detail__job-title">Senior Product Designer</div>
    <div class="sr-job-detail__location">Jacksonville, FL</div>
    <p>This is an extraordinary opportunity to build a rewarding career – with excellent benefits – at Accenture. Working in highly collaborative teams for world-leading clients, we’ll nurture your talent in an inclusive culture that values diversity. While fast-tracking your career, you’ll have the flexibility to pursue your specialist passions. So, whatever your work and life goals, we’ll help you achieve them. Sooner.</p>
    <p>People in our Client Delivery &amp; Operations career track drive delivery and capability excellence through the design, development and/or delivery of a solution, service, capability or offering. They grow into delivery-focused roles, and can progress within their current role, laterally or upward.</p>
    <p>Liquid Studios will be located in various cities where Accenture has a high concentration of clients who need software developers they can work with face-to-face, using Agile methods of delivery.</p>
    <h3>Responsibilities</h3>
    <ul class="sr-list">
      <li>Manage the Hub’s creative team and outside consultants/vendors to drive the creative process across a variety of issues campaigns.</li>
      <li>Work with the rest of the Hub team to brainstorm, craft, and disseminate innovative and creative visual content.</li>
      <li>Recruit top influencers from the entertainment, sports, and political worlds to participate in our campaigns.</li>
      <li>Advise our digital and communications teams on effective strategies to generate press and online engagement.</li>
    </ul>
    <h3>Requirements</h3>
    <ul class="sr-list">
      <li>Manage the Hub’s creative team and outside consultants/vendors to drive the creative process across a variety of issues campaigns.</li>
      <li>Work with the rest of the Hub team to brainstorm, craft, and disseminate innovative and creative visual content.</li>
      <li>Recruit top influencers from the entertainment, sports, and political worlds to participate in our campaigns.</li>
      <li>Advise our digital and communications teams on effective strategies to generate press and online engagement.</li>
    </ul>
  </div>
</section>

<section class="sr-job-detail__cta">
  <div class="sr-job-detail__container">
    <a href="/apply.html" class="sr-button sr-button--primary">Apply</a>
  </div>
</section>
