---
title: Silkroad - Thank You
---

<%= partial "nav" %>

<section class="sr-breadcrumb">
  <div class="sr-breadcrumb__container">
    <a href="/" class="sr-button sr-button--with-icon sr-button--just-text">
      <i class="material-icons sr-button__icon">chevron_left</i>
      Accenture Jobs
    </a>
  </div>
</section>

<section class="sr-job-detail__description">
  <div class="sr-job-detail__container align--center">
    <i class="material-icons sr-success-check">check</i>
    <h2>Thanks for applying!</h2>
    <p>Your application has been submitted to Accenture for the Senior Product Designer position.</p>
    <a href="/" class="sr-button sr-button--large sr-button--primary">View Other Openings</a>
  </div>
</section>
