---
title: Silkroad - Thank You
---

<%= partial "nav" %>

<section class="sr-breadcrumb">
  <div class="sr-wrapper sr-wrapper--medium">
    <% link_to '/', class: "sr-button sr-button--with-icon sr-button--just-text" do %>
      <i class="material-icons sr-button__icon">chevron_left</i>
      Accenture Jobs
    <% end %>
  </div>
</section>

<section class="sr-job-detail__description">
  <div class="sr-wrapper sr-wrapper--medium align--center">
    <i class="material-icons sr-success-check">check</i>
    <h2>Thanks for applying!</h2>
    <p>Your application has been submitted to Accenture for the Senior Product Designer position.</p>
    <%= link_to "View Other Openings", "/", class: "sr-button sr-button--large sr-button--primary" %>
  </div>
</section>
